[Unit]
Description=Protege 3.5
#After=network.target
After=mysql

[Service]
Type=simple
WorkingDirectory=/opt/Protege_3.5/

Restart=always
RestartSec=10

StandardOutput=syslog
StandardError=syslog

ExecStart=/opt/Protege_3.5/run_protege_server.sh
ExecStop=/opt/Protege_3.5/shutdown_protege_server.sh ubuntutemplate.localdomain:5100

[Install]
WantedBy=multi-user.target
