[Unit]
Description=Protege 3.5
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/Protege_3.5/

Restart=always
RestartSec=10

StandardOutput=syslog
StandardError=syslog

ExecStart=/root/Protege_3.5/run_protege_server_fix.sh
ExecStop=/root/Protege_3.5/shutdown_protege_server.sh

[Install]
WantedBy=multi-user.target
