{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        }, {
          "username" : "support",
          "password" : "pwd",
          "roles" : [ "support" ]
        }, {
          "username" : "user",
          "password" : "pwd"
        } ]
      },
      "classPath" : [ ]
    },
    "webFolder" : "${webswing.rootDir}/apps/webapps",
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "admin"
  },
  "/protege" : {
    "path" : "/protege",
    "enabled" : true,
    "homeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ "/opt/Protege_3.5/", "/opt/essentialAM/" ],
    "langFolder" : "",
    "security" : {
      "classPath" : [ ],
      "module" : "NONE",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "allowedCorsOrigins" : [ ],
    "swingConfig" : {
      "name" : "Protégé",
      "theme" : "Murrine",
      "fontConfig" : { },
      "directdraw" : true,
      "javaFx" : false,
      "compositingWinManager" : true,
      "debug" : false,
      "userDir" : "/opt/Protege_3.5/",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "classPathEntries" : [ "/opt/Protege_3.5/protege.jar", "/opt/Protege_3.5/looks.jar", "/opt/Protege_3.5/unicode_panel.jar", "/opt/Protege_3.5/driver.jar" ],
      "vmArgs" : "-Xmx2048M -Dlog4j.configuration=file:log4j.xml -Duser.country=AU -Duser.language=en",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "edu.stanford.smi.protege.Application"
      },
      "maxClients" : 5,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "monitorEdtEnabled" : true,
      "loadingAnimationDelay" : 1,
      "allowStealSession" : true,
      "autoLogout" : true,
      "sessionLogging" : false,
      "isolatedFs" : true,
      "allowUpload" : true,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 0,
      "allowJsLink" : true,
      "jsLinkWhitelist" : [ "*" ],
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "recordingsFolder" : "${webswing.tempDirPath}recordings${webswing.appPath}/",
      "testMode" : false,
      "transferDir" : "${user}/upload",
      "goodbyeUrl" : "",
      "dockMode" : "ALL",
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "loggingDirectory" : "${webswing.logsDir:-logs/}",
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "javaFxClassPathEntries" : [ ]
    },
    "icon" : "/opt/webswing/protege_logo.png"
  }
}
